<div class="container-fluid">
    <div class="w-89 p-3 my-5 border border-primary">
      <div class="bill-card">
        <h4 id="bill-id"></h4>
        <p id="bill-title">Bill Title Text</p>
        <ul>
          <li>
            <p id="sponsor">
              Sponsor:&nbsp;<a id="sponsor-title"></a
              ><a id="sponsor-name"></a><a id="sponsor-party"></a>
            </p>
          </li>
          <li>
            <p>Committee:&nbsp;<span id="committee"></span></p>
          </li>
        </ul>
        <p id="bill-long-title"></p>
        <div class="bill-status mx-auto w-75 align-content-center">
          <button class="status-button inactive-status" id="introduced">
            Introduced
          </button>
          <button class="status-button inactive-status" id="pass-house">
            Passed House
          </button>
          <button
            class="status-button inactive-status"
            id="pass-senate"
          >
            Passed Senate
          </button>
          <button class="status-button inactive-status" id="became-law">
            Became Law
          </button>
        </div>
      </div>
    </div>
  </div>