<div class="row my-auto mt-3 position-relative">
    <div class="w-75 h-auto text-center mx-auto">
        <h5>Senators:</h5>
        <img class="img-fluid img-thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Chuck_Schumer_official_photo.jpg/160px-Chuck_Schumer_official_photo.jpg">
        <p>Senator Chuck Schumer</p>
        <img class="img-fluid img-thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Kirsten_Gillibrand%2C_official_photo%2C_116th_Congress_%28cropped%29.jpg/171px-Kirsten_Gillibrand%2C_official_photo%2C_116th_Congress_%28cropped%29.jpg">
        <p>Senator Kirsten Gillibrand</p>
        <h5>House Member</h5>
        <img class="img-fluid img-thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/Hakeem_Jeffries_official_portrait.jpg/160px-Hakeem_Jeffries_official_portrait.jpg">
        <p>Representative Hakeem Jefferies</p>
    </div>