<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link href="/css/style.css" rel="stylesheet" />

    <title>Congressional Bill Tracker</title>
  </head>
  <body>
    <div class="jumbotron">
      <div class="col-md-5 p-5" id="jumbo-content">
        <h1>What is Happening in the United States Congress</h1>
        <p class="lead">
          A snapshot of the most current bills in the U.S. Congress: what they
          are about, and who is voting on them. Because knowing is half the
          battle..
        </p>
      </div>
    </div>
    <div class="container-fluid" id="navbar">
      <div class="row p-2">
        <div class="col-md-2">
          <h5><a id="home-button">Home</a></h5>
        </div>
        <div class="col-md-10">
          <a class="btn btn-success" id="signup-button">Signup</a>
          <a class="btn btn-success" id="login-button">Login</a>
        </div>
      </div>
    </div>
    <div class="container-fluid" id="sidebar">
      <div class="row justify-content-start">
        <div class="col-md-3 side-bar p-2">
          <h5>Search by content or topic:</h5>
          <input id="input-text" type="text" placeholder="Search" />
          <select class="search-select-topic my-2" id="topic">
            <!-- <label for="topic">Choose a Bill Topic:</label> -->
            <option>Select a Topic</option>
            <option>Public Lands and Natural Resources</option>
            <option>Science, Technology, Communications</option>
            <option>Economics and Public Finance</option>
          </select>
          <h5>Search by Timeframe:</h5>
          <input
            class="button search-select-button"
            type="button"
            value="Past Week"
            id="time-search"
          />
          <input
            class="button search-select-button"
            type="button"
            value="Past Month"
            id="time-search"
          />
          <input
            class="button search-select-button"
            type="button"
            value="Current Congress"
            id="time-search"
          />
          <button class="search-submit" id="search-submit">Search</button>
        </div>
        <div class="col-md-6 mx-auto">
          <h3 class="text-center mx-auto p-3" id="bill-heading">
            The twenty most Recent Bill Introduced by the U.S. Congress
          </h3>
          <div class="container overflow-auto h-25 pb-4 ">
            <% if (bill.length > 2) { %>
              <% bill.forEach(bill => { %> 
            
              <%- include('partials/bill-card', {bill: bill}) %>
            <% }) %>
            <% } else { %>
              <%- include('partials/bill-card', {bill: bill}) %>
            <% } %>

          </div>        
        </div>
        <div class="col-md-3 mt-3" id="sidebar-two">
          <h5 class="text-center" id="leg-activities">Current Legislative Activities</h5>
          <div class="containter">
            <div class="row m-3 live-session">
              <div class="col-8 my-auto">
                <a href="https://live.house.gov/">United States Congress Live Session</a>
              </div>
              <div class="col-4 p-2 mx-auto">
                <img
                  class="img-fluid"
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Seal_of_the_United_States_House_of_Representatives.svg/240px-Seal_of_the_United_States_House_of_Representatives.svg.png"
                />
              </div>
              
            </div>
            <div class="row m-3 live-session">
              <div class="col-8 my-auto">
                <a href="https://www.senate.gov/floor/index.htm">United States Senate Live Session</a>
              </div>
              <div class="col-4 mx-auto p-2">
                <img
                  class="img-fluid"
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/US-Senate-UnofficialAltSeal.svg/240px-US-Senate-UnofficialAltSeal.svg.png"
                />
              </div>
            </div>          
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
    <script src="/js/function.js"></script>
    <script src="/js/bill-status.js"></script>
    
  </body>
</html>
